<!DOCTYPE html>
<html>
<head>

    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="./css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="./css/dashboard.css"  rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">


    <title>Aula de orientação a objetos</title>


    {% endblock %}
</head>
<body>
{% include 'menu.html' %}


<div class="container-fluid">
<div class="row">

    <div class="main">

            {% block content %}{% endblock %}
    </div>
</div>
</div>

</body>
</html>